body{
	background-color: #38383b
	/* background-color: rgb(109, 106, 109); */


	/* background: linear-gradient(124deg, #38383b , #38383b , #2a5d86, #1ddde8,#2a5d86,#38383b ,#38383b );
	background-size: 1800% 1800%;
	
	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	  animation: rainbow 18s ease infinite;}
	
	@-webkit-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-moz-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-o-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@keyframes rainbow { 
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}

 */


/* #table{
	width:100%;
	max-width:600px;
}

th{
   background-color: rgb(121, 114, 114);
   height:30px;
	color:rgb(12, 10, 10);
	text-align: center;   
}

td{
	
	color:rgb(36, 32, 32);

	
}



td.left{
	
		background-color: rgb(121, 114, 114);
		
}

td.right{
	border-right:1px solid #4d555c;
	background-color: rgb(121, 114, 114);
}

td.bottom{
	
} */

